.navbar-container {
    background-color: rgb(251, 243, 231);
    width: 60%;
    margin: auto;
    border-radius : 10px;
}

.navbar-link {
    text-decoration: none;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.navbar-item {
    margin: auto;
    font-size: 25px;
}

.navbar-item:link {
    text-decoration: none;
}

.navbar-item:visited {
    text-decoration: none;
}

.navbar-item:hover {
    text-decoration-line: underline;
}

.navbar-item:active {
    text-decoration: none;
}